/* body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #ffffff;
}

.dataTables_filter, .dataTables_info { display: none; }

.navbar-default {
    background-color: #1394C3;
    border-color: #1394C3;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #55B4D6;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-color: #55B4D6;
}
.footer {
    width: 100%;
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 0;
    height: 20px;
} */